.answer{
    margin: 0.5vh;
    height: 5vh;
    width: 25vw;
    display: flex;
    background-color: #b1f7a3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.button{
    border: none;
    margin: 0.5vh;
    height: 3vh;
    width: 18vw;
    display: flex;
    background-color: #b1f7a3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.button:hover{
    height: 6vh;
    background-color: #78f55f;
}
    
.text{
    font-size: 2vmin;
}

.answer:hover{
    height: 8vh;
    background-color: #78f55f;
}

.mainDiv{
    background-color: #cef7c6;
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUpFormChild{
    font-size: 3vh;
    padding-left: 2vh;
    border: none;
    margin: 0.5vh;
    height: 5vh;
    width: 25vw;
    display: flex;
    background-color: #b1f7a3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.signUpFormChild:hover{
    height: 8vh;
    background-color: #78f55f;
}

.haveAccountButton{
    font-size: 1.5vh;
    border: none;
    margin: 0.5vh;
    height: 3vh;
    width: 15vw;
    display: flex;
    background-color: #b1f7a3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.haveAccountButton:hover{
    height: 6vh;
    background-color: #78f55f;
}

.signUpForm{
    height: 25vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.signInForm{
    height: 25vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.div{
    height: 99vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numberDiv{
    margin-top: 3vh;
    height:3vh;
    width: 25vw;
    display: flex;
    justify-content: center;
}

.questionDiv{
    margin-bottom: 1vh;
    height:3vh;
    width: 25vw;
    display: flex;
    justify-content: center;
}
#scoreDiv{
    margin: 0.5vh;
    height: 8vh;
    width: 18vw;
    display: flex;
    background-color: #b1f7a3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

#scoreDiv:hover{
    height: 11vh;
    width: 22vw;
    background-color: #78f55f;
}

